--extra-index-url https://download.pytorch.org/whl/cu124
ruamel-yaml
accelerate==0.25.0 #1.2.1
google-cloud-storage
google-auth
Pillow
torch==2.6.0+cu124
torchvision==0.21.0+cu124
transformers==4.36.2 #4.47.1
tokenizers==0.15.0
fastapi
uvicorn
diffusers==0.24.0 #0.32.2
huggingface_hub==0.19.4 #0.27.1
python-multipart
peft==0.7.1
cloud-sql-python-connector[pg8000]
requests
SQLAlchemy
pg8000
google-api-core
google-cloud-aiplatform
safetensors==0.4.5
